body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.dashboard {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #b6862e;
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  color: #444;
  font-size: 18px;
  margin-bottom: 25px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 350px;
  margin: auto;
}

.gold-btn {
  background: linear-gradient(90deg, #d4af37, #b8860b);
  border: none;
  color: #fff;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  transition: 0.2s;
}

.gold-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0,0,0,0.25);
}

.logout-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #c62828;
}

.gold-rate-box {
  margin-top: 20px;
  background: #fff7d1;
  color: #b8860b;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #e3c46f;
  display: inline-block;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* keep header on top */
  background: white;
}

.dashboard {
  margin-top: 150px; /* push content downward */
}
