body {
  font-family: Arial, sans-serif;
  background-color: #fff8e1;
  color: #333;
  text-align: center;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #f4b400;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

#rateSection {
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  width: 300px;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 400px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

th {
  background-color: #ffd54f;
}
